@page
@model ScoreManagement.Pages.AdminMenu.StudentClassesManage.IndexModel

@{
    ViewData["Title"] = "Student Classes Managenment";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Classes Managenment</title>

    <!-- Các link CSS cần thiết -->
    <link href="~/Asset/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/Asset/css/sb-admin-2.min.css" rel="stylesheet">
</head>


<body>
    <header>
        <div id="wrapper">
            @await Html.PartialAsync("_Sidebar")

            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    @await Html.PartialAsync("_Topbar")

                    <div class="container-fluid">
                        <h1 class="h3 mb-2 text-gray-800">Student Classes Management</h1>

                        <div class="row">
                            <!-- Danh sách lớp học -->
                            <div class="col-md-4">
                                <h5 class="font-weight-bold text-primary">Class List</h5>
                                <ul class="list-group">
                                    @foreach (var item in Model.Classes)
                                    {
                                        <li class="list-group-item">
                                            <a asp-page="./Index" asp-route-SelectedClassId="@item.ClassId">@item.ClassCode</a>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <!-- Danh sách sinh viên trong lớp -->
                            <div class="col-md-8">
                                <!-- Form Thêm Sinh Viên -->
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Add Student to Class</h6>
                                    </div>
                                    <div class="card-body">
                                        <form method="post">
                                            <div class="form-group">
                                                <label for="SelectedStudentId">Select Student:</label>
                                                <select asp-for="SelectedStudentId" class="form-control">
                                                    <option value="">-- Select Student --</option>
                                                    @foreach (var student in Model.Students)
                                                    {
                                                        <option value="@student.StudentId">@student.StudentCode</option>
                                                    }
                                                </select>
                                            </div>
                                            <input type="hidden" asp-for="SelectedClassId" />
                                            <button type="submit" asp-page-handler="AddStudent" class="btn btn-success">Add Student</button>
                                        </form>
                                    </div>
                                </div>
                                <h5 class="font-weight-bold text-primary">Students in Class</h5>
                                @if (Model.SelectedClassId.HasValue)
                                {
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-primary">List of Students</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered" width="100%" cellspacing="0">
                                                    <thead>
                                                        <tr>
                                                            <th>Student Code</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var studentClass in Model.StudentClass)
                                                        {
                                                            <tr>
                                                                <td>@studentClass.Student.StudentCode</td>
                                                                <td>
                                                                    <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@studentClass.StudentClassId">Edit</a> |
                                                                    <a asp-page="./Details" class="btn btn-success" asp-route-id="@studentClass.StudentClassId">Details</a> |
                                                                    <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@studentClass.StudentClassId">Delete</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <p>Please select a class to view students.</p>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Giữ nguyên các script cũ -->
    <script src="~/Asset/vendor/jquery/jquery.min.js"></script>
    <script src="~/Asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Asset/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Asset/js/sb-admin-2.min.js"></script>
    <script src="~/Asset/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Asset/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Asset/js/demo/datatables-demo.js"></script>
    <script src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
